[submodule "ffmpeg"]
	path = ffmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "libaom"]
	path = libaom
	url = https://aomedia.googlesource.com/aom
[submodule "libass"]
	path = libass
	url = git@github.com:libass/libass.git
