[submodule "ffmpeg"]
	path = ffmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "libaom"]
	path = libaom
	url = https://aomedia.googlesource.com/aom
[submodule "libass"]
	path = libass
	url = git@github.com:libass/libass.git
[submodule "fribidi"]
	path = fribidi
	url = git@github.com:fribidi/fribidi.git
[submodule "libfdk-aac"]
	path = libfdk-aac
	url = git@github.com:mstorsjo/fdk-aac.git
[submodule "freetype2"]
	path = freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "libvorbis"]
	path = libvorbis
	url = git@github.com:xiph/vorbis.git
[submodule "libogg"]
	path = libogg
	url = git@github.com:xiph/ogg.git
[submodule "x265"]
	path = x265
	url = git@github.com:videolan/x265.git
[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "libopus"]
	path = libopus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "libvpx"]
	path = libvpx
	url = git@github.com:webmproject/libvpx.git
[submodule "fontconfig"]
	path = fontconfig
	url = git@github.com:freedesktop/fontconfig.git
