Source: ffmpeg
Section: universe/video
Priority: optional
Maintainer: Ryo Hirafuji <ryo.hirafuji@link-u.co.jp>
Build-Depends: debhelper (>= 10),
  build-essential,
  pkg-config,
  autotools-dev,
  autoconf,
  automake,
  libtool,
  libva-dev,
  libvdpau-dev,
  libxcb1-dev,
  libxcb-shm0-dev,
  libxcb-xfixes0-dev,
  libmp3lame-dev,
  yasm [any-amd64 any-i386]
Standards-Version: 4.1.2
Homepage: https://ffmpeg.org/
Vcs-Git: git@github.com:link-u/dpkg_ffmpeg.git
Vcs-Browser: https://github.com/link-u/dpkg_ffmpeg

Package: ffmpeg-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: ffmpeg
Description: ffmpeg
 a video encoder. 
